<!DOCTYPE html>
<html lang="en">
    <body class="texte">
        <div>
            <h5>information</h5>
            <ul>
                <li><a href="/about">à propos</a></li>
                <li><a href="/dernier_ami">dernier ami</a></li>
            </ul>
        </div>
        <section class="newsletter">
            <h4>news letter</h4>
            <p>de nouvelles avancées technologiques tout les jours</p>
            <input type="texte" placeholder="Email">
        </section> 
</body>
</html>